body {
  font-family: sans-serif;
}
.avatar {
  width: 50px;
  border: 5px solid gray;
  border-radius: 35px;
  display: flex;
  justify-content: center;
}
.profile {
  border: 10px solid rgb(77, 75, 75);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.name {
  font-weight: 900;
}
li {
  list-style-type: none;
}
